p {
	color: white;
	background-color: black;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	
}

.shadow_text {
	color: #ff6600;
	font-size: 24px;
	text-align: center;
	text-shadow: 2px 2px 5px gray;
	margin-top: 20px;
	
}