ul {
	list-style-type: square;
	padding-left: 20px;
	color: #0077cc;
}

ol {
	list-style-type: upper-roman;
	padding-left: 20px;
	color: #cc3300;
}

li {
	margin: 5px 0;
	font-family: Arial, sans-serif;
}